<p id="notice"><%= notice %></p>

<p>
  <strong>Commenter:</strong>
  <%= @comment.commenter %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<h2>Comments Cover Images</h2>
<% @comment.pictures.each do |picture| %>
    <% if picture.name_url.present? %>
       <%= image_tag picture.name_url, width:"150", height:"150" %>
    <% end %>   
<% end %>   
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
<%= link_to 'Home', root_path %>
<%= render "articles/links" %>
<% if @comment.is_active? %>
  <li>
  <%= link_to 'Inactive This Comment', inactive_comment_path(@comment), method: :patch %>
  </li>
<% else %>
  <li>
  <%= link_to "Active This Comment", active_comment_path(@comment), method: :patch %>
  </li>
<% end %>