<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>


  <h2>Add Article Images</h2>
  <%= form.fields_for :pictures do |picture| %>
    <%= render 'picture_fields', form: picture %>
  <% end %>

  <div class="links">
  <%= link_to_add_association 'Add Picture', form, :pictures %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= render "articles/links" %>
