<% if user_signed_in? %>
  <li>
    <h1 align="center"><%= link_to 'Article', articles_path %> | 
    <h1 align="center"><%= link_to 'Upload Resume', resumes_path %> | 
    <%= link_to 'Comments', comments_path %> | </h1>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path)  %> 
  </li>
  <li>
    <%= link_to('Create an account', new_user_registration_path)  %>
  </li>
<% end %>